.card {
  text-align: center;
  border-radius: 3px;
  box-shadow: $box-shadow-card;
  transform: scaleX(0.8) scaleY(0.8);
  transition: 0.4s;

  &__heading-container {
    padding: $padding-small 0;

    border-bottom: $border-white;
  }

  &__heading {
    font-size: $font-size-headings;
    font-weight: $font-weight-medium;
  }

  &__content {
    padding: $padding-tiny;
    font-size: $font-size-small;
    line-height: 2rem;
    font-weight: $font-weight-small;
  }
}

.swiper-slide-active {
  transform: scaleX(1) scaleY(1);
}