.divider {
  width: max-content;

  &__text {
    font-weight: $font-weight-tiny;
  }

  &__block {
    margin-top: $margin-tiny;
    background-color: $secondary;
    height: 1.6rem;
    width: 100%;
  }
}

@include bp(xs) {
  .divider {
    &__text {
      font-size: $font-size-text;
    }

    &__text-container {
      margin-left: $margin-small;
    }
  }
}

@include bp(xl) {
  .divider {
    &__text {
      font-size: $font-size-headings;
    }

    &__text-container {
      margin-left: $margin-medium;
    }
  }
}