.hamburger {
  position: relative;
  width: 2rem;

  &__line {
    background-color: $text-primary;
    height: 0.3rem;
    width: 2rem;
    border-radius: 3px;
    transition: 0.4s;

    &--active-upper {
      position: absolute;
      transform: translateY(-50%) rotate(45deg);
      top: 50%;
      margin-bottom: 0 !important;
    }

    &--active-lower {
      position: absolute;
      transform: translateY(-50%) rotate(-45deg);
      top: 50%;
      margin-bottom: 0 !important;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__line:not(:last-child) {
    margin-bottom: 0.3rem;
  }
}