.header {
  background-color: $black;
  box-shadow: $box-shadow-regular;
  display: flex;
  flex-wrap: wrap;

  &__brand-container {
    width: 50%;
    @include center-vert;
  }

  &__brand {
    font-weight: $font-weight-small;
  }

  &__hamburger-container,
  &__nav {
    width: 50%;
    @include center-vert;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $text-primary;
    }
  }

  &__nav--mobile-active {
    margin-top: $margin-small;
    display: block !important;
    width: 100%;
  }

  &__nav--mobile-active>&__link {
    display: block;
    width: 100%;
    padding-bottom: $padding-tiny;
  }

  &__nav--mobile-active>&__link:not(:first-child) {
    margin-top: $margin-tiny;
  }

  &__link {
    font-weight: $font-weight-small;
  }

  &__link--active {
    border-bottom: $border-regular;
  }
}

@include bp(xs) {
  .header {
    padding: 0.5rem 1rem 0.5rem 1rem;

    &__brand {
      font-size: $font-size-text;
    }

    &__nav {
      font-size: $font-size-small;
      display: none;
    }


    &__link:not(:last-child) {
      margin-right: $margin-tiny;
    }
  }
}

@include bp(xxl) {
  .header {
    padding: 0.5rem 2rem 0.5rem 7rem;

    &__brand-container {
      width: 50%;
    }

    &__brand {
      font-size: $font-size-headings;
    }

    &__hamburger-container {
      display: none !important;
    }

    &__nav {
      font-size: $font-size-small;
      display: flex;
    }


    &__link {
      padding-bottom: 0.3rem;
      padding-right: 0.1rem;
    }

    &__link:not(:last-child) {
      margin-right: $margin-small;
    }
  }

}