.header {
  background-color: $black;
  box-shadow: $box-shadow-regular;
  display: flex;

  &__brand-container {
    width: 50%;
    @include center-vert;
  }

  &__brand {
    font-weight: $font-weight-small;
  }

  &__nav {
    width: 50%;
    @include center-vert;
    justify-content: flex-end;

    a {
      text-decoration: none;
      color: $text-primary;
    }
  }

  &__link {
    font-weight: $font-weight-small;
  }

  &__link--active {
    border-bottom: $border-bottom-regular;
  }
}

@include bp(xs) {
  .header {
    padding: 0.5rem 1rem 0.5rem 1rem;

    &__brand {
      font-size: $font-size-text-medium;
    }

    &__nav {
      font-size: $font-size-small;
    }

    &__link {
      display: none;
    }

    &__link:not(:last-child) {
      margin-right: $margin-tiny;
    }
  }
}

@include bp(xxl) {
  .header {
    padding: 0.5rem 2rem 0.5rem 7rem;

    &__brand-container {
      width: 50%;
    }

    &__brand {
      font-size: $font-size-headings;
    }

    &__nav {
      font-size: $font-size-small;
    }

    &__bars {
      display: none !important;
    }

    &__link {
      display: inline;
      padding-bottom: 0.3rem;
      padding-right: 0.1rem;
    }

    &__link:not(:last-child) {
      margin-right: $margin-small;
    }
  }

}