.main {
  &__divider {
    margin-top: 10rem;
  }
}
.section {
  margin-top: $margin-medium;
}

@include bp(lg) {
  .section {
    padding: 0 4rem;
  }
}

@include bp(xxl) {
  .section {
    padding: 0 15rem;
  }
}

@media only screen and (min-width: 1800px) {
  .section {
    padding: 0 20rem;
  }
}