@mixin center-vert {
  display: flex;
  align-items: center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-horiz {
  display: flex;
  justify-content: center;
}