// components colours
$primary: #292727;
$secondary: #F2A365;
$secondary-hover: #d48040;
$black: #000000;
$background: #1C1B1B;

// text colors
$text-primary: #ECECEC;

// text decorations
$font-weight-medium: 600;
$font-weight-small: 500;
$font-weight-tiny: 400;

$letter-spacing-small: 0.4rem;


// text font sizes
$font-size-headings-large: 4rem;
$font-size-headings: 2.6rem;
$font-size-text: 2rem;
$font-size-text-medium: 1.8rem;
$font-size-small: 1.6rem;

// box shadows
$box-shadow-regular: 0px 3px 12px rgba($color: #000000, $alpha: 0.9);

// border
$border-bottom-regular: 2px solid $secondary;

// margins
$margin-tiny: 1rem;
$margin-small: 2rem;
$margin-between: 3.5rem;
$margin-medium: 5rem;
$margin-high: 7rem;

// paddings
$padding-tiny: 1rem;
$padding-small: 2rem;
$padding-between: 3.5rem;
$padding-medium: 5rem;
$padding-high: 7rem;